{% extends 'nav.html' %}
{% block title %}Mamaearth Product Analysis{% endblock %}
{% block content %}
<main class="main">
        <section class="hero">
            <h2>Unveiling the Goodness of Nature: Mamaearth Products Analyzed</h2>
            <p>Discover transparent insights and in-depth analyses of Mamaearth's natural and toxin-free products.</p>
        </section>
        <section class="categories">
            <h3>Popular Categories</h3>
            <img src="static/top_categories.png">
        </section>
        <section class="categories">
            <h3>Statewise Category Ranks</h3>
            <img src="static/statewise_categories.png">
        </section>
        <section class="categories">
            <h3>Statewise Reviews</h3>
            <img src="static/statewise_reviews.png">
        </section>
        <section class="categories">
            <h3>Overall Price Rating</h3>
            <img src="static/price_ratings.png">
        </section>
        <section class="categories">
            <h3>Overall sentiment</h3>
            <img src="static/overall_sentiment.png">
        </section>
        <section class="categories">
            <h3>Review Count Trend</h3>
            <img src="static/timeseries.png">
        </section>
        <section class="categories">
            <h3>Best Ingredients or Attributes</h3>
            <img src="static/best_ingredients.png">
        </section>
        <section class="categories">
            <h3>Price Correlation</h3>
            <img src="static/price_correlation.png">
        </section>
        <section class="categories">
            <h3>Insights</h3>
            <ul>
                <li>Gentle Cleansing Shampoo, 400ml has highest number of ratings with all 5 stars.</li>
                <li>Henna Conditioner with Henna and Deep Roast has the most % of 1 star price rating .</li>
                <li>Vitamin C and Ubtan are the most liked ingredients.</li>
                <li>Maharashtra has most number of reviews and J&K has least.</li>
                <li>For every product reviews from the customers got increased from the mid 2021 (Same Trend for every State)</li>
                <li>Combo Category has most negative review compared to all other categories</li>
            </ul>
        </section>


    </main>
{% endblock %}